
ul.nav-theme {
  display: inline-block;
  width: auto;
  position: relative; }
ul.nav-theme:before, ul.nav-theme:after {
    content: "";
    position: absolute;
    top: 50%;
    width: 1000px;
    background: #ccc;
    height: 1px; }
ul.nav-theme:after {
    right: 98%; }
ul.nav-theme:before {
    left: 98%; }
ul.nav-theme > li {
    float: left; text-transform:uppercase;
    width: auto; padding:3px 0 3px 0 }
ul.nav-theme > li a {
      border-left: 1px solid #ccc;  font-weight: 500;  color:#1cac99;  font-size: 22px;  padding: 6px 30px; }
ul.nav-theme > li a:hover {
        background: none;
        color: #000; text-decoration:none }
ul.nav-theme > li a.selected {
        background: none;
        color: #666; }
ul.nav-theme > li.active a {
      background: none;
      color: #1cac99 ; }
ul.nav-theme > li:first-child a {
      border: none; }
ul.nav-theme.noborder:before, ul.nav-theme.noborder:after {
    background: none; }

 .video-list-thumbs {}

.video-list-thumbs > li {
    margin-bottom: 12px;
}

.video-list-thumbs > li:last-child {}

.video-list-thumbs > li > a {
    display: block;
    position: relative;
    background-color: #111;
    color: #fff;
    padding: 8px;
    border-radius: 3px;
    transition: all 500ms ease-in-out;
    border-radius: 4px
}

.video-list-thumbs > li > a:hover {
    box-shadow: 0 2px 5px rgba(0, 0, 0, .3);
    text-decoration: none
}

.video-list-thumbs h2 {
    bottom: 0;
    font-size: 14px;
    height: 33px;
    margin: 8px 0 0;
}

.video-list-thumbs .glyphicon-play-circle {
    font-size: 60px;
    opacity: 0.6;
    position: absolute;
    right: 39%;
    top: 31%;
    text-shadow: 0 1px 3px rgba(0, 0, 0, .5);
    transition: all 500ms ease-in-out;
}

.video-list-thumbs > li > a:hover .glyphicon-play-circle {
    color: #fff;
    opacity: 1;
    text-shadow: 0 1px 3px rgba(0, 0, 0, .8);
}

.video-list-thumbs .duration {
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 2px;
    color: #fff;
    font-size: 11px;
    font-weight: bold;
    left: 12px;
    line-height: 13px;
    padding: 2px 3px 1px;
    position: absolute;
    top: 12px;
    transition: all 500ms ease;
}

.video-list-thumbs > li > a:hover .duration {
    background-color: #000;
}

@media (min-width:320px) and (max-width: 480px) {
    .video-list-thumbs .glyphicon-play-circle {
        font-size: 35px;
        right: 36%;
        top: 27%;
    }
    .video-list-thumbs h2 {
        bottom: 0;
        font-size: 12px;
        height: 22px;
        margin: 8px 0 0;
    }
}
