div.w3s-img {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
    text-align: center;
}

div.w3s-img:hover {
    border: 1px solid #777;
}

div.w3s-img img {
    width: 100%;
    height: auto;
}

div.w3s-img-des {
    padding: 15px;
}